*
{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
#nav
 {
    height: 75px;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content:center;
 }
 #nav>article
 {
    height: 80%;
    width: 75%;
    color: white;
    display: flex;
    justify-content: space-between;
    
    
 }
 #nav>article>.logo
 {
   height: 77px;
   width: 40%;
   display: flex;
   justify-content: space-between;
   align-items:center;
 }
 #nav>article>.logo>svg
 {
   height: 41px;
   width: 30%;
   fill: white;
 }

 #nav>article>.menu
 {
   height: 77px;
   width: 42%;
 }
 #nav>article>.menu>ol
 {
    height: 100%;
    display: flex;
    justify-content:space-between;
    align-items: center;
    list-style-type:none;
 }
 #nav>article>.menu>ol>li>a
 {
   color: white;  
   text-decoration:none;
   font-family: Arial, Helvetica, sans-serif;
   font-weight: bolder;
   font-size: 15px;

 }
 #nav>article>.menu>ol>li>.z
 {
   color:rgb(213, 200, 200);
 }
 #nav>article>.menu>ol>li>a:hover
 {
   color: #1ed760
 }

 #nav>article>.menu>ol>li>.z:hover
 {
  color:#1ed760
 }
 #nav>.help{
    height: 86px;
    width: 45%;
    margin-top: 52px;

 }

 /* ---------------------------------------- */

 #home
 {
  height: 92vh;
  width: 100%;
  background-color: rgb(25, 230, 140);
  display: flex;
  flex-direction: column;
  align-items: center;
 }

 #home>.com
 {
  height: 30%;
  width: 50%;
 }
 #home>.com>img{
    height: 80px;
    width: 136px;
    margin-top: 115px;
    margin-left: 310px;
 }
 #home>.com>.circle{
   height: 34px;
   width: 34px;
   position: absolute;
   top: 15.5%;
   left: 29.4%;
   transform: translate(-50%, -50%);
   animation: 0.7s ease 0s 1 normal forwards running lbWRkT;
 }
 @keyframes lbWRkT{
   0%{opacity: 0;}
   100%{opacity: 1;}
 }
 #home>.com>.check{
   height: 8px;
   width: 10px;
   position: absolute;
    top: 15.4%;
    left: 29.4%;
    transform: translate(-50%, -50%);
    opacity: 0;
    animation: 0.5s ease 0.9s 1 normal forwards running dWurqy;
 }
 @keyframes dWurqy{
   0%{opacity: 0; transform: translate(-50%, 50%);}
   100%{transform: translate(-50%, -50%);opacity: 1;}
 }

 #home>.content
 {
  height: 41%;
  width: 50%;
 }
 #home>.content>h1{
    font-size: 43px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: -2px;
    word-spacing: -3px;
    text-align: center;
    padding-top: 37px;
 }
 #home>.content>p{
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* letter-spacing: -2px; */
    word-spacing: -3px;
    text-align: center;
    padding-top: 27px;
 }
 #home>.content>img{
    height: 104px;
    margin-left: 234px;
    margin-top: 40px;
    transform: 0.35s ease-out;
    border-radius: 8px;
 }
 #home>.content>img:hover{
    translate: (0px,-4px);
    cursor: pointer;
    box-shadow: 0 12px 40px 20px rgba(0, 0, 0, 0.05);
 }
 #home>a{
    margin-top: 60px;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
 }
 /* ----------------------------------------- */

  #apps{
   height: 43vh;
   width: 100%;
   background-color:white;
  }
  #apps>h3{
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: -2px;
    word-spacing: -3px;
    text-align: center;
    padding-top: 78px;
  }
  #apps>p{
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* letter-spacing: -2px; */
    word-spacing: -3px;
    text-align: center;
    padding-top: 27px;
  }
  #apps>article{
    height: 70px;
    width: 37%;
    margin-left: 470px;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
  }
  #apps>article>.img1{
    height: 60px;
    width: 120px;
    margin-top: -10px;
  }
  #apps>article>.img2{
    height: 40px;
    width: 120px;
  }
  #apps>article>.img4{
    height: 42px;
    width: 100px;
    margin-top: 0px;
  }
  #apps>article>.i2
  {
    height:60px;
    width:150px;
    margin-top: -10px;
  }
  #apps>article>.i4
  {
    height:45px;
    width:170px;
    margin-top: -4px;
    margin-left: 7px;
  }

 /* ---------------------------------------------- */

 #visit{
   height: 62vh;
   width: 100%;
   background-color: rgb(34, 35, 38);
   display: flex;
   justify-content: center;
   align-items: center;
 }

.supsec3item1 img{
 height: 173px;
 width: 480px;
 margin-left: 195px;
 margin-top: 8px;
}

.supsec3item2>h3{
 font-size: 27px;
 color: white;
 text-align: center;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
 word-spacing: -4px;
 padding-top: 30px;
}

.supsec3item3{ 
 width: 880px;
 height: 60px;
 margin-left: -10px;
}
.supsec3item3>ul{
   height: 100%;
   width: 100%;
   display: flex;
   justify-content: space-between;
}
.supsec3item3>ul>li{
   font-size: 16px;
   font-family:sans-serif;
   list-style: none;
   padding-top: 12px;
   font-weight: 500;
   text-transform: uppercase;
   color: white;
}
strong{
   color: rgb(29, 185, 84);
   font-size: 20px;
   padding-left: 10px;
}
.supsec3item3>h5{
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.supsec3item3 a{
 color: rgb(13, 227, 60);
 font-family: Verdana, Geneva, Tahoma, sans-serif;
 color: rgb(29, 185, 84);
}
.supsec3item3 a:hover{
   color: #1ed760;
}
 /* -------------------------------------------------- */

 #footer
 {
   height: 75vh;
   width: 100%;
   background-color: black;
   display: flex;
 }
 #footer>.il
 {
    height: 82%;
    width: 30%;
 }
 #footer>.il>.lo
 {
    height: 90px;
    width: 200px;
 }
 #footer>.il>.lo>svg
 {
    height: 110px;
    width: 73%;
    margin-left: 190px;
    margin-top: 90px;
    
 }
 #footer>.ij
 {
   height: 40%;
   width: 30%;
 }
 #footer>.ij>.i2
 {
    height: 55px;
    width: 40%;
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
 }
 #footer>.ij>.i2>i
 {
    font-size: 40px;
    padding-top: 76px;
    margin-left: 30px;
 }
 
 #footer>.ij>.i2>.fa-instagram
 {
    color: white;
 }
 #footer>.ij>.i2>.fa-instagram:hover
 {
    color:#1ed760;
 }
 #footer>.ij>.i2>.fa-facebook-f
 {
    color: white;
 }
 #footer>.ij>.i2>.fa-facebook-f:hover
 {
    color:#1ed760;
 }
 #footer>.ij>.i2>.fa-twitter
 {
    color: white;
 }
 #footer>.ij>.i2>.fa-twitter:hover
 {
    color:#1ed760;
 }
 
 #footer>.ik
 {
    height: 82%;
    width: 50%;
    margin-right: 160px;
    display: flex;
    justify-content: space-between;
 }
 #footer>.ik>.list1{
     width:fit-content;
     margin-left: 17px;
     margin-top: 40px;
 }
 #footer>.ik>.list2{
     width: 170px;
     margin-left: 55px;
     margin-top: 40px;
 }
 #footer>.ik>.list3{
     width: 180px;
     margin-right: 30px;
     margin-top: 40px;
 }
 #footer>.ik>.list1>h2
 {
     font-size: 13px;
     color: white;
     font-family:"gg sans","Noto Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
     font-weight:bold;
     color: #777;
     padding-top: 76px;
     letter-spacing: 1px;
 }
 #footer>.ik>.list2>h2
 {
     font-size: 13px;
     color: white;
     font-family: "gg sans","Noto Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
     font-weight:bold;
     color: #777;
     padding-top: 73px;
     letter-spacing: 1px;
 }
 #footer>.ik>.list3>h2
 {
     font-size: 13px;
     color: white;
     font-family: "gg sans","Noto Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
     font-weight:bold;
     color: #777;
     padding-top: 73px;
     letter-spacing: 1px;
 }
 #footer>.ik>.list1>ol
  {
     height: 100%;
     list-style-type:none;
  }
  #footer>.ik>.list1>ol>li>a
  {
    color: white;  
    text-decoration:none;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight:500;
    font-size: 16px;
    margin-top: 20px;
    line-height: 40px;
  }
  #footer>.ik>.list2>ol
  {
     height: 100%;
     list-style-type:none;
  }
  #footer>.ik>.list2>ol>li>a
  {
    color: white;  
    text-decoration:none;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight:500;
    font-size: 16px;
    margin-top: 20px;
    line-height: 40px;
  }
  #footer>.ik>.list3>ol
  {
     height: 100%;
     list-style-type:none;
  }
  #footer>.ik>.list3>ol>li>a
  {
    color: white;  
    text-decoration:none;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight:500;
    font-size: 16px;
    margin-top: 20px;
    line-height: 40px;
  }
  #footer>.ik>.list1>ol>li>a:hover
  {
   color: #1ed760;
  }
  #footer>.ik>.list2>ol>li>a:hover
  {
   color: #1ed760;
  }
  #footer>.ik>.list3>ol>li>a:hover
  {
   color: #1ed760;
  }

  #lastlist
{
    height:100px;
    width:100%;
    color: white;
    background-color: black;
  
}
#lastlist>h4
{
    font-size: 13px;
    margin-left: 1270px;
    color: white;
    font-weight: 200;
}
#lastlist>h4>i
{
   color: rgb(198, 194, 194);

}
#lastlist>.list>ul
{
    display: flex;
    justify-content: center;
}
#lastlist>.list>ul>li
{
    padding-left: 15px;
    font-size: 13px;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
}
#lastlist>.list>ul>.ll
{
    padding-left: 300px;
}
#lastlist>.list>ul>li:hover
{
    color: #117a37;
}